<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Course Match</title>
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
    <header>
        <h1>Course Match</h1>
        <nav>
            <ul>
                <li><a href="/feed">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">ContactUs</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/admin">admin</a></li>
                <!-- <li class="dropdown">
                        <button style="font-size: 16px; margin-top: -30px; margin-left: -5px;"
                            class="dropbtn"><strong>Profile</strong></button>
                        <div class="dropdown-content">
                            <a href="#">Settings</a>
                            <a href="#" onclick="CreateGroup()">Create Group</a>
                            <a href="/groupchat">Groups</a>
                            <a href="#">Logout</a>
                        </div>
                </li> -->
               
            </ul>
        </nav>
    </header>

    <main>
        <section id="about">
            <h1>About Us</h1>
            <p>Welcome to Course Match, your go-to platform for connecting with friends who share similar courses and interests.</p>
            <p>Our mission is to help students of all levels – whether you're in school, high school, or college – find and connect with fellow students who are studying the same courses as you.</p>
            <p>Whether you're looking for study buddies, project partners, or simply want to expand your social circle, Course Match is here to facilitate those connections.</p>
            <p>Get started today and discover the power of networking with Course Match!</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Course Match</p>
    </footer>
</body>
</html>
