<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/stylesheets/contact.css"> <!-- Link to your CSS file -->
</head>

<body>
    <header>
        <div>
            <h1 style="font-size: 34px;">Course Match</h1>
        </div>
        <nav>
            <ul>

                <li><a href="/feed">Home</a></li>
                <li><a href="/courses">Courses</a></li>
                <!-- <li><a href="/profile">Profile</a></li> -->
                <li><a href="/about">About</a></li>
                <!-- <li><a href="/contact">ContactUs</a></li> -->
                <li><a href="/profile">Profile</a></li>
               
            </ul>
        </nav>
    </header>
    <main>
        <h2>Contact Us</h2>
        <section class="contact-form">
            <% if (successMessage) { %>
                <p style="color: green;"><%= successMessage %></p>
            <% } %>
            <form action="/submit_contact" method="POST">
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="5" required></textarea>
<br>
                <button type="submit">Submit</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Course Match</p>
    </footer>
</body>

</html>